*{
    font-family: 'Rubik', sans-serif;
}

.gallery {
    padding: 50px 210px;
    background-color: #f8f8f8;
}

.gallery-section {
    margin-bottom: 60px;
}

.gallery-section h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #212529;
}

.splide__slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  z-index: 0;
}

.facebook-link {
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
    padding: 20px 0;
    background-color: #EFECE3;
    border-radius: 10px;
}

.facebook-link a {
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
}

.facebook-link a:hover {
    text-decoration: underline;
}

/*Responsive*/

@media (max-width: 1200px) {
    .gallery {
        padding: 50px 80px;
    }
}

@media (max-width: 768px) {
    .gallery {
        padding: 30px 20px;
    }

    .gallery-section h2 {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .facebook-link {
        font-size: 16px;
        padding: 15px 10px;
        margin-top: 30px;
        border-radius: 8px;
    }
}

@media (max-width: 480px) {
    .gallery {
        padding: 20px 10px;
    }

    .gallery-section h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .facebook-link {
        font-size: 14px;
        padding: 12px 8px;
        margin-top: 25px;
    }
}
